/**
 * @file
 * Default CSS styles for Toggle elements.
 */

input.form-toggle {

  /* Toggle Off */
  &:empty {
    margin-left: -999px;

    & ~ label {
      position: relative;
      float: left;
      line-height: 1.6em;
      text-indent: 4em;
      margin: 0.2em 0;
      cursor: pointer;
      // @TODO use compass mixin?
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:before,
      &:after {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '\2718';
        width: 3.6em;
        text-indent: 2.4em;
        color: #900;
        background-color: #c33;
        // @TODO use compass mixin?
        border-radius: 0.3em;
        box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
      }

      &:after {
        content: ' ';
        width: 1.4em;
        top: 0.1em;
        bottom: 0.1em;
        text-align: center;
        text-indent: 0;
        margin-left: 0.1em;
        color: #f88;
        background-color: #fff;
        // @TODO use compass mixin?
        border-radius: 0.15em;
        box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
        -webkit-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
      }
    }
  }

  /* Toggle Off for boolean fields (label on top). */
  &.single:empty ~ label {
    text-indent: -9999px;
  }

  /* Toggle On */
  &:checked {

    & ~ label {

      &:before {
        content: '\2714';
        text-indent: 0.5em;
        color: #6f6;
        background-color: #393;
      }

      &:after {
        margin-left: 2.1em;
        color: #6c6;
      }
    }
  }

  /* Toggle focus styles */
  &:focus {

    & ~ label {
      color: #000;

      &:before {
        // @TODO use compass mixin?
        box-shadow: 0 0 0 3px #999;
      }
    }
  }
}
