/**
 * @file
 * Default CSS styles for Toggle elements.
 */
input.form-toggle {
  /* Toggle Off */
  /* Toggle Off for boolean fields (label on top). */
  /* Toggle On */
  /* Toggle focus styles */ }
  input.form-toggle:empty {
    margin-left: -999px; }
    input.form-toggle:empty ~ label {
      position: relative;
      float: left;
      line-height: 1.6em;
      text-indent: 4em;
      margin: 0.2em 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      input.form-toggle:empty ~ label:before, input.form-toggle:empty ~ label:after {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '\2718';
        width: 3.6em;
        text-indent: 2.4em;
        color: #900;
        background-color: #c33;
        border-radius: 0.3em;
        box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3); }
      input.form-toggle:empty ~ label:after {
        content: ' ';
        width: 1.4em;
        top: 0.1em;
        bottom: 0.1em;
        text-align: center;
        text-indent: 0;
        margin-left: 0.1em;
        color: #f88;
        background-color: #fff;
        border-radius: 0.15em;
        box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 100ms ease-in;
        transition: all 100ms ease-in; }
  input.form-toggle.single:empty ~ label {
    text-indent: -9999px; }
  input.form-toggle:checked ~ label:before {
    content: '\2714';
    text-indent: 0.5em;
    color: #6f6;
    background-color: #393; }
  input.form-toggle:checked ~ label:after {
    margin-left: 2.1em;
    color: #6c6; }
  input.form-toggle:focus ~ label {
    color: #000; }
    input.form-toggle:focus ~ label:before {
      box-shadow: 0 0 0 3px #999; }
